<a href="https://colab.research.google.com/github/Ferdianap/python_for_datascience/blob/main/Salinan_dari_Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**@create By : Dede Brahma Arianto S.Kom., M.Kom**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# Basic Python

## Variable

In [ ]:
#@title Variable

nama = 'Dede'
umur = 18
berat_badan = 87.5

In [ ]:
nama = 'acel'
print (nama)

acel

In [ ]:
print("Nama :'icha', nama)
print (InteractiveShellABC)
print("Umur :"22, umur)
print("Berat Badan :"46", berat_badan)

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-5-f82021939609>, line 1)

In [ ]:
#@title Variable with Input

nama2 = input("Masukkan Nama Anda: ")
umur2 = input("Masukkan Usia Anda: ")
berat_badan2 = input("Masukkan Berat Badan Anda: ")

In [ ]:
print("Nama :", nama2)
print("Umur :", umur2)
print("Berat Badan :", berat_badan2)

In [ ]:
#@title Calculate with Variable

tinggi_badan = 1.75
bmi = berat_badan / (tinggi_badan ** 2)

print("Berat Ideal :", bmi)

In [ ]:
#@title Update Value Variable

umur2 = 22

In [ ]:
print("Nama :", nama)
print("Umur 1 :", umur)
print("Umur 2 :", umur2)
print("Berat Badan :", berat_badan)
print("Tinggi Badan :", tinggi_badan)
print("BMI :", bmi)

In [ ]:
nama_1 = 'dede'
print(nama_1)

## Komentar

In [ ]:
# ini adalah komentar
# nama = 'dede' # ini adalah variabel nama
# print(nama)
# block code, kemudian ctrl + /

## Data Type

In [ ]:
#@title Numeric Data Type

a = 10        # integer
b = 3.14      # float

In [ ]:
print("A :", a)
print("B :", b)

In [ ]:
#@title String Data Type

nama = "John Doe"   # string
alamat = 'Jl. Ahmad Yani No. 10'   # string

In [ ]:
print("Nama :", nama)
print("Alamat :", alamat)

In [ ]:
#@title Boolean Data Type

benar = True      # boolean True
salah = False     # boolean False

In [ ]:
print(benar)

In [ ]:
#@title List Data Type

buah = ['apel', 'jeruk', 'mangga', 'pisang']  # list
angka = [1, 2, 3, 4, 5]                      # list

In [ ]:
print("Buah :", buah)
print("Angka :", angka)

In [ ]:
#@title Tuple Data Type

hari = ('Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat')  #
bulan = ('Januari', 'Februari', 'Maret')

In [ ]:
print("Hari :", hari)
print("Bulan :", bulan)

In [ ]:
#@title Set Data Type

buah = {'apel', 'jeruk', 'mangga', 'pisang'}  # set
angka = set([1, 2, 3, 4, 5])

In [ ]:
print("Buah :", buah)
print("Angka :", angka)

In [ ]:
#@title Dictionary Data Type

data = {'nama': 'John Doe', 'umur': 25, 'alamat': 'Jl. Ahmad Yani No. 10'}   # dictionary
# key (nama, umur, alamat)
# value (john doe, 25, jl.ahmad yani)

In [ ]:
print(data)

In [ ]:
#@title Data Type Checking

# Tipe data integer
x = 5
print(type(x))    # Output: <class 'int'>

# Tipe data float
y = 3.14
print(type(y))    # Output: <class 'float'>

# Tipe data string
z = 'Hello, World!'
print(type(z))    # Output: <class 'str'>

# Tipe data boolean
a = True
print(type(a))    # Output: <class 'bool'>

# Tipe data list
b = [1, 2, 3, 4, 5]
print(type(b))    # Output: <class 'list'>

# Tipe data tuple
c = (1, 2, 3, 4, 5)
print(type(c))    # Output: <class 'tuple'>

# Tipe data set
d = {1, 2, 3, 4, 5}
print(type(d))    # Output: <class 'set'>

# Tipe data dictionary
e = {'nama': 'John Doe', 'umur': 25}
print(type(e))    # Output: <class 'dict'>

## Basic arithmetic operation

In [ ]:
#@title Penjumlahan

x = 10
y = 5
z = x + y
print(z)    # Output: 15

In [ ]:
#@title Pengurangan

x = 10
y = 5
z = x - y
print(z)    # Output: 5

In [ ]:
#@title Perkalian


x = 10
y = 5
z = x * y
print(z)    # Output: 50

In [ ]:
#@title Pembagian

x = 10
y = 5
z = x / y
print(z)    # Output: 2.0

In [ ]:
#@title Pembagian Bulat

x = 9
y = 3
z = x // y
print(z)    # Output: 3

In [ ]:
#@title Modulus

x = 13
y = 3
z = x % y
print(z)    # Output: 1

In [ ]:
#@title Pangkat


x = 2
y = 3
z = x ** y
print(z)    # Output: 8

## String Manipulation

In [ ]:
#@title Concatenation


a = "Halo"
b = "Dunia"
c = a + " " + b
print(c) # Output: "Halo Dunia"

In [ ]:
#@title Multiplication

a = "Halo "
b = a * 3
print(b) # Output: "Halo Halo Halo "

In [ ]:
#@title Indexing

# index, start = 0
# index positif = 0,1,2,3
# index negatif = -1, -2, -3
a = "Halo, Dunia!"

b = a[0]
c = a[2]
d = a[-1]
e = a[-12]
f = len(a)


print(a) # Output: "Halo, Dunia!"
print(b) # Output: "H"
print(c) # Output: "l"
print(d) # Output: "!"
print(e)
print(f)

In [ ]:
#@title Slicing
# start:end
# start:end:lompatan

a = "Halo Dunia"
b = a[0:6]
c = a[0:8:2]
print(b)
print(c) # Output: "Halo"

In [ ]:
#@title Replace
# replace(oldvalue, newvalue)

a = "Halo Dunia"
b = a.replace("Dunia", "Semua")
print(b) # Output: "Halo Semua"

In [ ]:
#@title Replace

a = "Halo Dunia"
b = a.lower()
print(b) # Output: "halo dunia"

In [ ]:
#@title Uppercase

a = "Halo Dunia"
b = a.upper()
print(b) # Output: "HALO DUNIA"

In [ ]:
#@title Capitalize

a = "Halo Dunia"
b = a.capitalize()
print(b) # Output: "Halo dunia"

In [ ]:
print(a.capitalize())

In [ ]:
#@title Split

a = "Halo, Dunia, Semua"
b = a.split(", ")
print(type(a))
print(b)
print(type(b))
print(b[1]) # Output: ["Halo", "Dunia", "Semua"]

In [ ]:
#@title Join

a = ["Halo", "Dunia", "Semua"]
b = ", ".join(a)

print(type(a))
print(a)

print("========")
print(type(b))
print(b) # Output: "Halo, Dunia, Semua"

## Typecasting

In [ ]:
#@title Data Type Casting - Integer

x = '5'
y = int(x)

print(type(x))
print(y)    # Output: 5
print(type(y)) # Output: int

In [ ]:
#@title Data Type Casting - Float


x = '3'
y = float(x)
print(y)    # Output: 3.14
print(type(y)) # Output: float

In [ ]:
#@title Data Type Casting - String

x = 5
y = str(x)

print(type(x))
print(y)    # Output: '5'
print(type(y)) # Output: str

In [ ]:
#@title Data Type Casting - Boolean

x = ''
y = bool(x)
print(y)    # Output: False
print(type(y)) # Output: bool

False
<class 'bool'>

## Latihan

1. Buat contoh :
- Variabel
- Data type
- Arithmatic
- manipulation
- type casting

2. Diberikan nomor telepon berikut.

phone_num = “+62801-0029-9000”

ganti “+62” menjadi “0” dan hilangkan simbol “-”